{% extends 'base.html' %}

{% block header %} 
<link rel="stylesheet" href="{{ url_for('static', filename='jquery.dataTables.css') }}">
{% endblock %}

{% block script %}
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery.dataTables.js') }}"></script>

<script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}