{% extends 'overview_template.html' %}

{% block title %}Stromzähler Übersicht{% endblock %}

{% block headline %}Stromzähler Übersicht{% endblock %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Typ</th>
        <th>Standort</th>
        <th>Stromanbieter</th>
        <th>Zählerstand</th>
        <th>Verbrauch</th>
        <th>Ø Verbrauch</th>
      </tr>
    </thead>
    <tbody>
      {% for smartmeter in smartmeters %}
        <tr>
            <td> <a href="{{ url_for('smartmeter.smartmeter', id=smartmeter.uuid) }}">{{ smartmeter.uuid }}</a></td>
            <td>{{ smartmeter.type }}</td>
            <td>{{ smartmeter.location }}</td>
            <td>{{ smartmeter.supplier }}</td>
            <td>{{ smartmeter.reading }}</td>
            <td>{{ smartmeter.usage }}</td>
            <td>{{ smartmeter.avg_usage }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

