{% extends 'overview_template.html' %}

{% block title %}Stromzähler Übersicht{% endblock %}

{% block headline %}Stromzähler Übersicht{% endblock %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Typ</th>
        <th>Breitengrad</th>
        <th>Längengrad</th>
        <th>Stromanbieter</th>
        <th>Letzter Zählerstand in kWh</th>
        <th>Letzter Verbrauch in kW</th>
      </tr>
    </thead>
    <tbody>
      {% for smartmeter in smartmeters %}
        <tr>
            <td> <a href="{{ url_for('smartmeter.smartmeter', id=smartmeter.uuid) }}">{{ smartmeter.uuid }}</a></td>
            <td>{{ type_translator[smartmeter.type] }}</td>
            <td>{{ smartmeter.latitude }}</td>
            <td>{{ smartmeter.longitude }}</td>
            {% if smartmeter.supplier %}
                <td>{{ smartmeter.supplier }}</td>
            {% else %}
                <td> Nicht zugewiesen </td>
            {% endif %}              
            {% if smartmeter.data %}
                <td>{{ smartmeter.data[0]["reading"] }}</td>
                <td>{{ smartmeter.data[0]["usage"] }}</td>
            {% else %}
                <td> Keine Daten </td>
                <td> Keine Daten </td>
            {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

