{% extends 'base.html' %}

{% block title %}Anbieter anlegen{% endblock %}

{% block headline %}Anbieter anlegen{% endblock %}

{% block content %} {# TODO: Check if all of this data is validated #}
<div class="supplier-form">
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Musterstrom GmbH und Co. KG" required>
          </div>
          <div class="mb-3">
            <label for="notes" class="form-label">Anmerkungen</label>
            <textarea class="form-control" id="notes" name="notes" rows="3" placeholder="Äußerst wichtiger Kunde"></textarea>
          </div>
          <button type="submit" class="btn btn-success">Speichern</button>
          <a href="{{ url_for('supplier.supplier') }}" class="btn btn-danger">Abbrechen</a>
      </form>
</div>
{% endblock %}