{% extends 'overview_template.html' %}

{% block title %}Anbieter Übersicht{% endblock %}

{% block headline %}Anbieter Übersicht{% endblock %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>UUID</th>
        <th>Typ</th>
        <th>Standort</th>
        <th>Stromanbieter</th>
        <th>Zählerstand</th>
        <th>Verbrauch</th>
        <th>Ø Verbrauch</th>
      </tr>
    </thead>
    <tbody>
      {% for smartmeter in smartmeters %}
        <tr>
          <td>{{ smartmeter.uuid }}</td>
          <td>{{ smartmeter.type }}</td>
          <td>{{ smartmeter.location }}</td>
          <td>{{ smartmeter.supplier }}</td>
          <td>{{ smartmeter.reading }}</td>
          <td>{{ smartmeter.usage }}</td>
          <td>{{ smartmeter.avg_usage }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}